  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Style -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}dist/app.css" rel="stylesheet" media="all">
  <link href='{{site.baseurl}}favicon.ico' rel='shortcut icon' type='image/x-icon'>
  <!-- Social Media Info -->
  <link href='http://www.spacebetweenstudios.com' rel='index' title='Space Between Studios'>
  <link href='https://plus.google.com/105806783098119777725' rel='publisher'>
  <meta content="summary" name="twitter:card" />
  <meta content="121975404636485" property="fb:app_id" />
  <meta content="Space Between Studios" property="og:title" />
  <meta content="http://www.spacebetweenstudios.com/" property="og:url" />
  <meta content="An independent game studio of non-fiction games." property="og:description" />
  <meta content="website" property="og:type" />
  <meta content="http://www.spacebetweenstudios.com/img/sbs_logo_512.jpg" property="og:image" />
  <meta content="Space Between Studios" property="og:site_name" />

  <meta property="og:image:width" content="512">
  <meta property="og:image:height" content="512">
  <!-- JavaScript -->
  <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-37064735-2', 'theseg.github.io');
  ga('send', 'pageview');
  </script>