  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://www.spacebetweenstudios.com' rel='index' title='Space Between Studios'>
  <!-- Style -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}dist/app.css" rel="stylesheet" media="all">
  <link href='{{site.baseurl}}favicon.ico' rel='shortcut icon' type='image/x-icon'>
  <!-- Social Media Info -->
  <meta property="og:title" content="Space Between Studios" />
  <meta property="og:description" content="An independent game studio of non-fiction games." />
  <meta property="og:url" content="http://www.spacebetweenstudios.com/" />
  <meta property="og:image" content="http://www.spacebetweenstudios.com/dist/img/ZetaOph_pia16604_OpenGraph.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Space Between Studios" />
  <meta name="twitter:site" content="@SpaceBtwStudios" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="fb:app_id" content="121975404636485" />
  <link rel="publisher" href="https://plus.google.com/105806783098119777725" />
  <!-- JavaScript -->
  <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-37064735-2', 'theseg.github.io');
  ga('send', 'pageview');
  </script>
  
  <script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type": "Organization",
    "url" : "http://www.spacebetweenstudios.com",
    "founder": [
      {
        "@type": "Person",
        "name": "John Seggerson",
        "sameAs": "https://theseg.github.io/"
      }
    ],
    "name": "Space Between Studios",
    "logo": "http://www.spacebetweenstudios.com/dist/img/sbs_logo_1024.jpg",
    "sameAs": [
      "http://www.twitter.com/SpaceBtwStudios",
      "http://www.facebook.com/SpaceBetweenStudios",
      "http://plus.google.com/+Spacebetweenstudios"
    ]
  }
  </script>
